body{
    background: rgb(203, 203, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
header {

        color: #ffffff;
        text-align: center;
}
section {
    background: #ffffff;
    border-radius:20px;
    padding:15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.637);
}
footer {
    margin-top:20px;
    color: #ffffff;
    font-style: italic;
}
#foto {
    text-align: center;
}
#foto img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin:auto;
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.637);
}
@media only screen and (max-width: 600px){
    section{
        width: 400px;
    }
}